<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/profilForm}" method="post" t>

    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" name="name">
            </td>
        </tr>

        <tr>
            <td>Surname</td>
            <td>
                <input type="text" name="surname">
            </td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <select name="gender">
                    <option th:each="opcja : ${TypGender}" th:value="${opcja}" th:text="${opcja}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" name="email">
            </td>
        </tr>
        <tr>
            <td>Specialization</td>
            <td>
                <select name="specialization">
                    <option th:each="opcja : ${TypSpec}" th:value="${opcja}" th:text="${opcja}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>City</td>
            <td>
                <input type="text" name="city">
            </td>
        </tr>
        <tr>
            <td>PhoneNumber</td>
            <td>
                <input type="text" name="phonenumber">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="submit" value="Submit">
            </td>
        </tr>
    </table>
</form>
</body>
</html>
